.App {
  padding: 20px;
  text-align: center;
  background-image: url('./ui/carrot.jpg');
  max-width: 100%;
  height: auto;
  background-size: cover;
}

.App-header {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.world {
  margin-top: 20px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}
